@charset "UTF-8";
.main-categoria {
  grid-area: main;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.main-categoria .picture {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  display: flex;
}
.main-categoria .picture img {
  justify-items: center;
  margin: 10px;
  border-radius: 10px;
  width: 300px;
  height: 400px;
}
.main-categoria .picture img :nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/2;
}
.main-categoria .picture img :nth-child(2) {
  grid-column: 3/4;
  grid-row: 1/2;
}
.main-categoria .picture img :nth-child(3) {
  grid-column: 5/6;
  grid-row: 1/2;
}
.main-categoria .picture .btn {
  color: white;
  font-family: "Franklin Gothic Medium";
  font-size: 20px;
  margin: 5px;
  margin-left: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-categoria .picture .btn2 {
  border-radius: 10px;
  font-size: 20px;
  color: white;
  font-family: "Franklin Gothic Medium";
  background-color: rgb(3, 58, 131);
  -o-object-fit: cover;
     object-fit: cover;
}

.main-lanzamiento {
  justify-content: center;
  grid-area: main;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-lanzamiento .img-fluid {
  border-radius: 50px;
  border: 1px solid rgb(3, 58, 131);
}
.main-lanzamiento .carousel-control-prev spa {
  margin-top: 30vh;
}
.main-lanzamiento .carousel-control-next spa {
  margin-top: 30vh;
}
.main-lanzamiento .btn-lanzamiento {
  background-color: rgb(3, 58, 131);
  width: 100%;
  margin: 10px;
  justify-content: center;
  border: 1px solid rgb(3, 58, 131);
}
.main-lanzamiento .btn-lanzamiento .categories {
  color: white;
  text-decoration: none;
}

.main-nosotros {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.main-nosotros .texto-nosotros {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(3, 58, 131);
  font-size: 20px;
  justify-items: center;
  text-align: center;
}
.main-nosotros .video {
  display: flex;
  margin: 0px 0px 0px 30px;
}

.contenedor .formulario-contacto {
  text-align: center;
  margin: 50px;
}
.contenedor .formulario-contacto .formulario-uno .form-label {
  color: rgb(3, 58, 131);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.contenedor .formulario-contacto .formulario-uno .btn-send {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(3, 58, 131);
  color: white;
  margin: 10px;
  padding: 10px;
}
.contenedor .formulario-contacto .formulario-uno h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(3, 58, 131);
}
.contenedor .formulario-contacto .formulario-tres .list-unstyled {
  color: white;
  margin: 10px;
}
.contenedor .formulario-contacto .formulario-tres .list-unstyled i {
  color: white;
}
.contenedor .lista-servicios {
  color: white;
  font-family: "Franklin Gothic Medium";
  justify-content: center;
  margin: 20px;
}
.contenedor .lista-servicios .lista-asistencia li {
  justify-content: center;
}
.contenedor .lista-servicios .lista-asistencia h2 {
  text-decoration: underline;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  justify-content: center;
}
.contenedor .lista-servicios .lista-asistencia h2 .iconor {
  justify-content: center;
  display: flex;
}
.contenedor .lista-servicios .lista-social {
  color: white;
  font-family: "Franklin Gothic Medium";
  justify-content: center;
}
.contenedor .lista-servicios .lista-social ul h2 {
  justify-content: center;
  color: white;
  font-family: "Franklin Gothic Medium";
  text-decoration: underline;
}
.contenedor .lista-servicios .lista-social ul li a {
  color: white;
  font-family: "Franklin Gothic Medium";
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.contenedor {
  background-image: linear-gradient(white, rgb(3, 58, 131));
}
.contenedor .navbar {
  height: 70px;
}
.contenedor .navbar .icono {
  width: 200px;
  height: 100px;
}
.contenedor .navbar .container-fluid .navbar-toggler {
  border-color: rgb(3, 58, 131);
  background-color: white;
}
.contenedor .navbar .container-fluid .navbar-toggler .hamburguesa {
  color: rgb(3, 58, 131);
}
.contenedor .navbar .container-fluid .navegador {
  grid-area: nav;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(3, 58, 131);
}
.contenedor .navbar .container-fluid .navegador > li {
  color: rgb(3, 58, 131);
  font-size: 25px;
  padding: 10px;
  z-index: 9999;
}
.contenedor .navbar .container-fluid .navegador > li:hover {
  flex-wrap: wrap;
  background-color: rgb(102, 163, 243);
  border-radius: 20px;
}
.contenedor .navbar .container-fluid .navegador > li a {
  color: rgb(3, 58, 131);
  font-size: 25px;
}
.contenedor .navbar .container-fluid .navegador > li a:hover {
  transform: 0.5s;
  display: block;
}

.header {
  grid-area: header;
  padding: 20px;
  background-color: transparent;
}
.header h1 {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(3, 58, 131);
}

.main {
  grid-area: main;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  -o-object-fit: cover;
     object-fit: cover;
  justify-content: center;
  margin: 5px;
  width: 100%;
}
.main .slider {
  display: block;
  height: 500p;
  width: 500px;
  overflow: hidden;
  margin-bottom: 20px;
}
.main .slider .estrellas {
  display: flex;
  margin: 10px;
  justify-content: center;
  flex-wrap: wrap;
}
.main .slider .estrellas .estrella {
  -webkit-animation: estrella 10s infinite alternate;
          animation: estrella 10s infinite alternate;
  margin: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .slider .estrellas .estrella-dos {
  margin: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: latidos 2s infinite alternate;
          animation: latidos 2s infinite alternate;
}
.main .slider ul {
  display: flex;
  padding: 0;
  width: 400%;
  -webkit-animation: cambio 50s infinite alternate;
          animation: cambio 50s infinite alternate;
}
.main .slider ul li {
  width: 100%;
  list-style: none;
}
.main .slider ul li img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .equipo {
  padding: 5px;
}
.main .equipo .escudo {
  color: white;
  display: flex;
  justify-content: center;
  text-decoration: underline;
  margin: 10px;
}
.main .equipo .escudos {
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
}
.main .equipo .escudos a {
  -o-object-fit: cover;
     object-fit: cover;
  width: 45px;
  height: 45px;
  margin: 1px;
}
.main .equipo .escudos a:hover {
  transform: scale(1.6);
}

.aside {
  background-color: rgb(3, 58, 131);
  color: white;
  text-align: center;
}
.footer {
  background-color: black;
}
.footer .copyright {
  color: white;
  text-align: center;
}
.footer .copyright .copyright-leon {
  color: white;
  text-align: center;
}

@-webkit-keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
@-webkit-keyframes estrella {
  from {
    transform: rotate(0 deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes estrella {
  from {
    transform: rotate(0 deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes latidos {
  from {
    transform: none;
  }
  50% {
    transform: scale(1.5);
  }
  to {
    transform: none;
  }
}
@keyframes latidos {
  from {
    transform: none;
  }
  50% {
    transform: scale(1.5);
  }
  to {
    transform: none;
  }
}
@-webkit-keyframes animacion {
  0% {
    box-shadow: 0 0 0 0 rgba(52, 55, 56, 0.6), 0 0 0 0 rgba(52, 55, 56, 0.6);
  }
  30% {
    box-shadow: 0 0 0 100px rgba(29, 171, 209, 0), 0 0 0 0 rgba(52, 55, 56, 0.6);
  }
  65% {
    box-shadow: 0 0 0 100px rgba(29, 171, 209, 0), 0 0 0 30px rgba(29, 171, 209, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(29, 171, 209, 0), 0 0 0 30px rgba(29, 171, 209, 0);
  }
}
@keyframes animacion {
  0% {
    box-shadow: 0 0 0 0 rgba(52, 55, 56, 0.6), 0 0 0 0 rgba(52, 55, 56, 0.6);
  }
  30% {
    box-shadow: 0 0 0 100px rgba(29, 171, 209, 0), 0 0 0 0 rgba(52, 55, 56, 0.6);
  }
  65% {
    box-shadow: 0 0 0 100px rgba(29, 171, 209, 0), 0 0 0 30px rgba(29, 171, 209, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(29, 171, 209, 0), 0 0 0 30px rgba(29, 171, 209, 0);
  }
}
@media (max-width: 991px) {
  .navbar {
    height: 70px;
  }
  .container-fluid {
    display: flex;
  }
  .icono {
    position: absolute;
    margin: 25px 0px 0px 70vw;
  }
  .dropdown-menu {
    background-color: white;
    width: 30vw;
    display: inline;
  }
  .main-categoria .picture {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    display: flex;
    flex-direction: column;
  }
  .main-nosotros {
    display: flex;
    flex-direction: column;
  }
  .main-nosotros .texto-nosotros {
    color: white;
  }
}
@media (max-width: 768px) {
  .tamaño-video {
    width: 100px;
    height: 100px;
  }
  .video {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 360px) {
  .list-unstyled {
    display: none;
  }
}
.aside .btn-reg {
  border-radius: 10%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: white;
  color: rgb(3, 58, 131);
  -webkit-animation: animacion 2s linear infinite;
          animation: animacion 2s linear infinite;
  margin: 8px;
  padding: 8px;
}

.contenedor .formulario-contacto .formulario-uno, .contenedor .formulario-contacto .formulario-dos, .contenedor .formulario-contacto .formulario-tres {
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  border-style: solid;
  margin: 10px;
}