@import "variables";
@import "mixin";
.main-categoria{
    grid-area: main;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:space-around;
    .picture {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        display: flex;
        img{
            justify-items: center;
            margin: 10px;
            border-radius: 10px;
            width:300px;
            height:400px;
            :nth-child(1){
                grid-column: 1/2;
                grid-row: 1/2;
              
            }
            :nth-child(2){
                grid-column: 3/4;
                grid-row: 1/2;
            }
            :nth-child(3){
                grid-column: 5/6;
                grid-row: 1/2; 
            }
    
        }
        .btn{
            @include letra(white,'Franklin Gothic Medium');
            font-size: 20px;
            margin: 5px;
            margin-left: 15px;
            object-fit: cover;
        }
        .btn2{
        border-radius: 10px;
           font-size: 20px;
           @include letra(white,'Franklin Gothic Medium');
           background-color: $color-azul;
           object-fit: cover;
        }
        
    }
        
    
}