.main{
    grid-area: main;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    object-fit: cover;
    justify-content: center;
    margin: 5px;
    width: 100%;
    .slider{
        display: block;
        height: 500p;
        width: 500px;
        overflow: hidden;
        margin-bottom: 20px;
        .estrellas{
            display: flex;
            margin: 10px;
            justify-content: center;
            flex-wrap: wrap;

            .estrella{
                animation: estrella 10s infinite alternate;
                margin: 10px;
                object-fit: cover;  
            }
            .estrella-dos{
                margin: 10px;
                object-fit: cover;
                animation: latidos 2s infinite alternate;
            }
            
        }
        
        ul{
            display: flex;
            padding: 0;
            width: 400%;
            animation: cambio 50s infinite alternate;

            li{
                width: 100%;
                list-style: none;
                img{
                    width: 100%;
                    object-fit: cover;
                
                }
            
            }
           
        }
        
    }

    .equipo{
        padding:5px;
        .escudo{
            color:white;
            display: flex;
            justify-content: center;
            text-decoration: underline;
            margin: 10px;
        
        }
    
        .escudos{
            display: flex;
            flex-direction: row;
            list-style: none;
            flex-wrap: wrap;
            
            a{
                &:hover{ transform: scale(1.6);} 
                object-fit: cover;
                width: 45px;
                height: 45px;
                margin: 1px;
            }
        
        }
    }
        
}

