.main{
    grid-area: main;
    gap: 20px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    object-fit: cover;
    .slider{
        height: 500px;
        width: 500px;
        margin: auto;
        overflow: hidden;
        margin-bottom: 20px;
        ul{
            display: flex;
            padding: 0;
            width: 400%;
            animation: cambio 20s infinite alternate;

            li{
                width: 100%;
                list-style: none;
                img{
                    width: 100%;
                    object-fit: cover;
                
                }
            
            }
           
        }
        
    }
    
}


